{% extends 'layout.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
</head>

<body>
    {% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Modul MFQ</h4>
                        <form class="forms-sample">
                            <div class="form-group">
                                <label for="exampleInputName1">Judul</label>
                                <input type="text" class="form-control" id="exampleInputName1"
                                    placeholder="Masukkan judul">
                            </div>
                            <div class="form-group">
                                <label>Gambar</label>
                                <div class="input-group col-xs-12">
                                    <input type="file" class="form-control file-upload-info">
                                    <span class="input-group-append">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Modul</label>
                                <div class="input-group col-xs-12">
                                    <input type="file" class="form-control file-upload-info">
                                    <span class="input-group-append">
                                </div>
                            </div>
                            <a href="{{ url_for('modul.mainModul') }}" class="btn btn-utama me-2">Submit</a>
                            <a href="{{ url_for('modul.editModul') }}" class="btn btn-light">cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>

</html>
