{% extends 'layout.html'%}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title> 
</head>

<body>
    <!-- partial -->
      <!-- partial -->
      {% block content %} 
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
              </div>
              <div class="tab-content tab-content-basic">
                <div class="col-lg-12 d-flex flex-row">
                  <div class="row flex-grow">
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card bg-grow card-rounded">
                        <div class="card-body pb-0">
                          <h4 class="card-title card-title-dash text-info mb-4">Jumlah Modul</h4>
                            <div class="media">
                              <h2 class="text-info d-flex align-self-center me-3">357</h2>
                              <div class="media-body">
                                <p class="card-text text-info">total modul yang tersedia
                                  scelerisque.</p>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card bg-grow card-rounded">
                        <div class="card-body pb-3">
                          <h4 class="card-title card-title-dash text-info mb-4">Jumlah Modul</h4>
                          <div class="row">
                            <div class="col-md-6">
                              <h2 class="text-info">357</h2>
                              </div>
                              <div class="media-body">
                                <p class="card-text text-info">total modul yang tersedia
                                  scelerisque.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 d-flex flex-row">
                  <div class="row flex-grow">
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card bg-grow card-rounded">
                        <div class="card-body pb-0">
                          <h4 class="card-title card-title-dash text-info mb-4">Jumlah Modul</h4>
                          <div class="media">
                            <h2 class="text-info d-flex align-self-center me-3">357</h2>
                            <div class="media-body">
                              <p class="card-text text-info">total modul yang tersedia
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card bg-grow card-rounded">
                        <div class="card-body pb-3">
                          <h4 class="card-title card-title-dash text-info mb-4">Jumlah Modul</h4>
                          <div class="row">
                            <div class="col-md-6">
                              <h2 class="text-info">357</h2>
                            </div>
                            <div class="media-body">
                              <p class="card-text text-info">total modul yang tersedia</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              
              
              
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}

        <!-- content-wrapper ends -->
      <!-- main-panel ends -->

    






    <!-- page-body-wrapper ends -->
  
  
</body>

</html>
